<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/brazacz/rouge-themes@main/css/monokai.css"> 
    <link rel="stylesheet" href="/assets/css/styles.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="54.432034mm"
   height="59.166409mm"
   viewBox="0 0 54.432034 59.166409"
   version="1.1"
   id="svg5"
   inkscape:version="1.2.1 (9c6d41e410, 2022-07-14)"
   sodipodi:docname="drawing.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#505050"
     bordercolor="#ffffff"
     borderopacity="1"
     inkscape:showpageshadow="0"
     inkscape:pageopacity="0"
     inkscape:pagecheckerboard="1"
     inkscape:deskcolor="#505050"
     inkscape:document-units="mm"
     showgrid="false"
     inkscape:zoom="3.1251122"
     inkscape:cx="20.799253"
     inkscape:cy="113.59592"
     inkscape:window-width="1920"
     inkscape:window-height="1055"
     inkscape:window-x="-7"
     inkscape:window-y="-7"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1" />
  <defs
     id="defs2">
    <linearGradient
       inkscape:collect="always"
       id="linearGradient946">
      <stop
         style="stop-color:#ff0000;stop-opacity:1;"
         offset="0"
         id="stop942" />
      <stop
         style="stop-color:#0040ff;stop-opacity:1;"
         offset="1"
         id="stop944" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient946"
       id="linearGradient948"
       x1="17.241472"
       y1="8.740469"
       x2="-9.4588633"
       y2="-12.452174"
       gradientUnits="userSpaceOnUse" />
    <filter
       style="color-interpolation-filters:sRGB"
       inkscape:label="Drop Shadow"
       id="filter1795"
       x="-0.28633785"
       y="-0.28788328"
       width="1.7216167"
       height="1.6587245">
      <feFlood
         flood-opacity="0.498039"
         flood-color="rgb(0,0,0)"
         result="flood"
         id="feFlood1785" />
      <feComposite
         in="flood"
         in2="SourceGraphic"
         operator="in"
         result="composite1"
         id="feComposite1787" />
      <feGaussianBlur
         in="composite1"
         stdDeviation="3"
         result="blur"
         id="feGaussianBlur1789" />
      <feOffset
         dx="3.1"
         dy="3.1"
         result="offset"
         id="feOffset1791" />
      <feComposite
         in="SourceGraphic"
         in2="offset"
         operator="over"
         result="composite2"
         id="feComposite1793" />
    </filter>
  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(2.8344491,5.1748951)">
    <path
       sodipodi:type="star"
       style="fill:url(#linearGradient948);fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:3.465;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter1795)"
       id="path111"
       inkscape:flatsided="false"
       sodipodi:sides="3"
       sodipodi:cx="5.9866223"
       sodipodi:cy="7.1839466"
       sodipodi:r1="20.611031"
       sodipodi:r2="10.305515"
       sodipodi:arg1="0.040675228"
       sodipodi:arg2="1.0878728"
       inkscape:rounded="0"
       inkscape:randomized="0"
       d="M 26.580605,8.0220738 10.772198,16.310935 -5.0362085,24.599795 -4.310369,6.7648828 -3.5845296,-11.070029 11.498038,-1.5239776 Z"
       inkscape:transform-center-x="-4.7855754"
       inkscape:transform-center-y="-0.41906365"
       transform="translate(11.25485,16.16388)"
       inkscape:export-filename="path111.svg"
       inkscape:export-xdpi="96"
       inkscape:export-ydpi="96" />
  </g>
</svg>


    {{ content }}

    <script src="https://utteranc.es/client.js"
    repo="https://github.com/aalvarado/aalvarado.github.io"
    issue-term="title"
    theme="dark-blue"
    crossorigin="anonymous"
    async>
    </script>
  </body>
</html>
