<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/brazacz/rouge-themes@main/css/monokai.css"> 
    <link rel="stylesheet" href="/assets/css/styles.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="31.616814mm"
   height="35.669827mm"
   viewBox="0 0 31.616814 35.669827"
   version="1.1"
   id="svg5"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs2" />
  <g
     id="layer1"
     transform="translate(-8.2540934,-4.0162586)">
    <path
       style="fill:#ffff00;fill-rule:evenodd;stroke-width:0.264583"
       id="path111"
       d="M 26.580605,8.0220738 10.772198,16.310935 -5.0362085,24.599795 -4.310369,6.7648828 -3.5845296,-11.070029 11.498038,-1.5239776 Z"
       transform="translate(13.290302,15.086288)" />
  </g>
</svg>

    {{ content }}
  </body>
</html>
